
<Files 403.shtml>
order allow,deny
allow from all
</Files>

# Enforce HTTPS and Canonical Redirects
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect incorrect well-known sitemap requests to the real sitemap
  RewriteRule ^/?\.well-known/=/sitemap\.xml$ /sitemap.xml [R=301,L]

  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Enable Gzip Compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript application/xml application/json image/svg+xml
</IfModule>

# Enable Browser Caching (Expires Headers)
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 month"
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType application/x-javascript "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>


deny from 114.119.154.6
deny from 192.0.102.40
deny from 122.248.245.244
deny from 114.119.133.138
deny from 114.119.136.160
deny from 4.247.162.169
deny from 196.251.114.48

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php81” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
